.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) var(--space-screen-padding-x) var(--space-3xl);
  background-image: url("/hanji-texture.png");
  background-repeat: repeat;
  background-size: 320px 320px;
}
